:host {

  .full-width-table {
    width: 100%;
  }

  mat-card {
    width: 70%;
    margin: 0 auto;

    /*mat-card-content {
      border: 1px solid darkgreen;
      border-radius: 3%;

      div.mat-elevation-z14 {
        border: 1px solid aliceblue;
        border-radius: 3%;
      }
    }*/
  }


}



